<h1> danh sach hoc khoa hoc cua chung toi</h1>


</form>
<form action="" method="post">
  <input type="text" name="classname" placeholder="classname">
  <input type="text" name="cource" placeholder="cource">
  <input type="text" name="member" placeholder="member">
  <a href="" type="submit">add</a>


</form>


